button, p{
    font-family: "Poppins";
}
.main{
    background-color: #f8f9fb;
    min-height: 100vh;
    display: flex;
}
.sidebar{
    width: 20%;
    background-color: black;
}
.content{
    width: 80%;
}
.sidebarButton{
    background-color: black;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.p-sidebar {
    background: rgb(33, 3, 63) !important;
}
.sidebarTitle{
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.menu{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.menu-choice{
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 10px;
    cursor: pointer;
    transition: 300ms;
    height: 40px;
    color: white;
    font-size: 14px;
    font-weight: 600;
}

.menu-chosen{
    background-color: #1b54e48b;
}

.menu-choice:hover{
    background-color: #1b54e48b;
}

.showSidebar{
    display: none;
    position: absolute;
    left: 10px;
    top: 5px;
}

@media only screen and (max-width: 1000px) {
    .sidebar {
      display: none;
    }
    .showSidebar{
        display: block; 
    }
    .content{
        width: 100%;
    }
}